{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}
Add Lead
{% endblock head_title %}


{% block content %}
<div class="col-lg-4 mx-auto border shadow p-5 rounded-4 m-5">
    <h1>Add Lead</h1>
    <hr>
    <form action=""
        method="post">
        {% csrf_token %}
        {{form|crispy}}
        <div class="my-5 d-grid">
            <button class="btn btn-outline-dark"
                type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock content %}